absl-py==1.4.0
alabaster==0.7.13
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
async-generator==1.10
attrs==22.2.0
autograd==1.6.2
autograd-gamma==0.5.0
Babel==2.11.0
backcall==0.2.0
backports.zoneinfo==0.2.1
bleach==4.1.0
cached-property==1.5.2
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==2.0.12
cloudpickle==2.2.1
comm==0.1.4
contextvars==2.4
copt==0.9.1
cvxopt==1.3.2
cvxpy==1.1.24
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
docutils==0.18.1
ecos==2.0.12
entrypoints==0.4
formulaic==0.2.4
future==0.18.3
gast==0.2.2
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
hyperopt==0.2.7
idna==3.6
iisignature==0.24
imagesize==1.4.1
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
interface-meta==1.2.5
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.8.4
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.1
json5==0.9.16
jsons==1.6.3
jsonschema==3.2.0
jupyter==1.1.1
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-server==1.13.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab_widgets==1.1.10
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lifelines==0.26.4
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.8
networkx==2.5.1
notebook==6.4.10
numexpr==2.8.1
numpy==1.19.5
numpydoc==1.1.0
opt-einsum==3.3.0
osqp==0.6.3
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prettytable==2.5.0
progressbar==2.5
prometheus-client==0.17.1
prompt-toolkit==3.0.36
protobuf==3.19.6
ptyprocess==0.7.0
py4j==0.10.9.7
pyarrow==6.0.1
pycparser==2.21
Pygments==2.14.0
pyparsing==3.1.1
pyrsistent==0.18.0
pysurvival==0.1.2
python-dateutil==2.8.2
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==25.1.1
qdldl==0.1.7.post0
requests==2.27.1
rpy2==3.4.5
scikit-learn==0.23.2
scikit-survival==0.14.0
scipy==1.5.4
scs==3.2.3
seaborn==0.11.2
Send2Trash==1.8.3
six==1.16.0
sklearn==0.0.post10
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
-e git+https://github.com/LinusBleistein/CoxSig.git@27d76b02fba42f308100493dddc64ab57156d7a2#egg=src
stochastic==0.6.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
tick==0.7.0.1
torch==1.10.2
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
typing_extensions==4.1.1
typish==1.9.3
tzdata==2023.3
tzlocal==4.2
urllib3==1.26.18
wcwidth==0.2.8
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.3
widgetsnbextension==3.6.9
wrapt==1.15.0
zipp==3.6.0
